@model ECE.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}

@{
    if (Model == null)
    {
        <div>
            <h2>Ooops! Ocorreu um erro, não se preocupe. Nosso time será avisado e iremos corrigir em breve!</h2>
        </div>
    }else
    {
        ViewData["Title"] = Model.Titulo;
        <div>
            
        </div>

    <div class="row">
            <div style="width: 555px;margin: auto;height: 375px; margin-top:100">
                <div class="col-xs-6" style="margin-top:100px">
                    <h2>@Html.Raw(Model.Mensagem)</h2>
            </div>
            <div class="col-xs-6">
                
            </div>
        </div>
    </div>


    }
}

