@model ECE.WebApp.MVC.Models.UsuarioRegistro

@{
    ViewData["Title"] = "Registro de novo usuário";
}

<div class="col-md-6">
    <div class="card border-0 box-shadow">
        <div class="card-body">
            <h2 class="h4 mb-1">Quero criar uma conta</h2>
            <hr>
            <h3 class="font-size-base pt-4 pb-2">Preencha o formulário abaixo:</h3>
            <form method="post" class="needs-validation" novalidate>
                <div class="input-group-overlay form-group">
                    <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="czi-mail"></i></span></div>
                    <input asp-for="Email" class="form-control prepended-form-control" type="email" placeholder="Email" required>
                </div>
                <div class="input-group-overlay form-group">
                    <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="czi-locked"></i></span></div>
                    <div class="password-toggle">
                        <input asp-for="Senha" class="form-control prepended-form-control" type="password" placeholder="Senha" required>
                        <label class="password-toggle-btn">
                            <input class="custom-control-input" type="checkbox"><i class="czi-eye password-toggle-indicator"></i><span class="sr-only">Show password</span>
                        </label>
                    </div>
                </div>
                <div class="input-group-overlay form-group">
                    <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="czi-locked"></i></span></div>
                    <div class="password-toggle">
                        <input asp-for="SenhaConfirmacao" class="form-control prepended-form-control" type="password" placeholder="Senha Confirmacao" required>
                        <label class="password-toggle-btn">
                            <input class="custom-control-input" type="checkbox"><i class="czi-eye password-toggle-indicator"></i><span class="sr-only">Show password</span>
                        </label>
                    </div>
                </div>

                <hr class="mt-4">
                <div class="text-right pt-4">

                    <button class="btn btn-primary" type="submit"><i class="czi-user mr-2 ml-n1"></i>Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
