@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p><a href="" class="display-4">Ecommerce Online</a>.</p>
    <img alt="Nerd Store Enterprise" class="logo" src="~/images/logo.jpg">
</div>
